<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDx1F0FfXQww1YR-rIR1bUE9I_xmhubfpQ</string>
    <key>GCM_SENDER_ID</key>
    <string>369867568483</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>public.crowdSlidesDemo</string>
    <key>PROJECT_ID</key>
    <string>crowdslides-demo</string>
    <key>STORAGE_BUCKET</key>
    <string>crowdslides-demo.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:369867568483:ios:4590f98aaa9c3d87d18f56</string>
    <key>DATABASE_URL</key>
    <string>https://crowdslides-demo-default-rtdb.firebaseio.com</string>
</dict>
</plist>
